---
import { parseCSV } from "../utils/csv";

const data = parseCSV("./data/students.csv");
---

<html>
  <head>
    <title>CSV Data</title>
  </head>
  <body>
    <h1>CSV Data</h1>
    <table>
      <thead>
        <tr>
          {Object.keys(data[0]).map((key) => <th>{key}</th>)}
        </tr>
      </thead>
      <tbody>
        {
          data.map((row) => (
            <tr>
              {Object.values(row).map((value) => (
                <td>{value}</td>
              ))}
            </tr>
          ))
        }
      </tbody>
    </table>
  </body>
</html>
